.detail {
  > * {
    margin-bottom: 1rem;
  }
  h3 {
    color: gray;
    font-weight: 300;
  }
  .price {
    color: orange;
    font-size: 2rem;
  }
  .color {
    display: inline;
    > * {
      margin: 0rem 0.2rem;
    }
    .square-1 {
      display: inline-block;
      height: 30px;
      width: 30px;
      background-color: #e6ae48;
    }
    .square-2 {
      display: inline-block;
      height: 30px;
      width: 30px;
      background-color: #030102;
    }
    .square-3 {
      display: inline-block;
      height: 30px;
      width: 30px;
      background-color: #9c0001;
    }
  }
  .size {
    border-radius: 0%;
    form > * {
      width: 10rem;
    }
  }
  .count {
    .wrapper {
      background-color: rgb(230, 230, 230);
      display: inline-flex;
      align-items: center;
      padding: 0.2rem;
      form {
        display: inline;
        input {
          width: 2rem;
        }
      }
    }
  }
  .icon {
    span {
      margin-right: 0.5rem;
    }
  }
}
