footer {
  margin-top: 1rem;
  font-family: "Times New Roman", Times, serif;
  .contacts {
    #img-footer {
      width: 100%;
    }
    h6 {
      font-weight: bold;
    }
    .contact__1,
    .contact__4 {
      li {
        list-style: none;
        a {
          color: grey;
          font-size: small;
        }
      }
    }
    .contact__4 {
      i {
        margin-right: 5px;
      }
    }
    .contact__3 {
      p {
        color: grey;
      }
      form {
        display: flex;
        align-items: center;
        input {
          height: 30px;
          width: 90%;
          padding-left: 10px;

          border-radius: 0%;
          border-color: grey;
          border-width: 1px 0px 1px 1px;

          &::placeholder {
            font-style: italic;
          }
        }

        button {
          border: black;
          padding: 0px 20px;
          height: 30px;

          color: white;
          background-color: black;
        }
        .arrow-right {
          width: 0;
          height: 0;
          border-top: 15px solid transparent;
          border-bottom: 15px solid transparent;
          border-left: 15px solid black;
        }
      }
      a {
        margin: 5px;
        color: grey;
        text-decoration: none;
      }
    }
  }
  .payment {
    color: grey;
  }
}
