.home-page {
  width: 100%;
  background-image: url(../../assets/images/home-page-bg-1.png),
    url(../../assets/images/home-page-bg-2.png);
  background-position: left top, right top;
  background-repeat: no-repeat;
  background-size: 20%, 10%;
  margin: 0px;
}
